<section class="blogapp">
    <header class="header">
        <button class="addcomment">Add a comment</button>
        <form>
        <input type="text" class="new-blog" placeholder="Email">
        <input type="text" class="new-blog" placeholder="What's on your mind?">
        </form>
    </header>
    <section class="main">
        <ul class="blog-list">
        </ul>
    </section>
</section>
