<section class="blogapp">
    <header class="header">
        <button class="addcomment">Add a comment</button>
        <form class="new-blog">
            <label>Email:</label>
            <input type="text" class="email">

            <label>Comment:</label>
            <textarea name="text" class="comment" cols="30" rows="10"></textarea>

            <button class="submit">Submit</button>
        </form>
    </header>
    <section class="main">
        <ul class="blog-list">
        </ul>
    </section>
</section>
